<div class="form-wrapper">
  <h2>Register Route</h2>
  <%= form_with model: [@service_order, @route] do |form| %>
    <div class="input-wrapper">
      <%= form.label :date_time %>
      <%= form.datetime_local_field :date_time %>
    </div>
    <div class="input-wrapper">
      <%= form.label :latitude %>
      <%= form.text_field :latitude %>
    </div>
    <div class="input-wrapper">
      <%= form.label :longitude %>
      <%= form.text_field :longitude %>
    </div>
    <%= form.submit 'Register Route' %>
  <% end %>
</div>