<div>
  <%= form_with(url: track_service_order_path, :method => :get) do |form| %>
    <%= form.label :code %>
    <%= form.text_field :code %>
    <%= form.submit 'Track' %>
  <% end %>
</div>
<div>
  <% @routes.each do |route|%>
    <div>
      <%= route.latitude %>
      <%= route.longitude %>
      <%= route.date_time %>
    </div>
  <% end %>
</div>