<div class="show-vehicle">
  <div>Plate: <%= @vehicle.plate %></div>
  <div>Brand: <%= @vehicle.brand %></div>
  <div>Model: <%= @vehicle.model %></div>
  <div>Brand: <%= @vehicle.year_of_fabrication %></div>
  <div>Capacity: <%= @vehicle.capacity%></div>
</div>