<div class="show-vehicle">
  <div><%= I18n.t("pages.vehicles.show.plate") %><%= @vehicle.plate %></div>
  <div><%= I18n.t("pages.vehicles.show.brand") %><%= @vehicle.brand %></div>
  <div><%= I18n.t("pages.vehicles.show.model") %><%= @vehicle.model %></div>
  <div><%= I18n.t("pages.vehicles.show.year") %><%= @vehicle.year_of_fabrication %></div>
  <div><%= I18n.t("pages.vehicles.show.capacity") %><%= @vehicle.capacity%></div>
</div>