<!DOCTYPE html>
<html>
  <head>
    <title>FreightageApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
  </head>
  <body>
    <header class="app-header">
      <div class="header-title">Freightage</div>
      <nav class="header-nav">
        <div class="nav-button">
          <%= link_to I18n.t("pages.home.companies"), companies_path %>
        </div>
        <div class="nav-button">
          <a href="#">Something</a>
        </div>
      </nav>
    </header>
    <div class="content">
      <%= yield %>
    </div>
    <div class="flash-messages">
      <%= flash[:notice] %>
    </div>
  </body>
</html>
