<!DOCTYPE html>
<html>
  <head>
    <title><%= I18n.t("pages.layouts.title") %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="content">
      <%= yield %>
      <div class="flash-messages">
        <% if flash[:notice] %>
          <%= notice %>
        <% end %>
        <% if flash[:alert] %>
          <%= alert %>
        <% end %>
      </div>
    </div>
  </body>
</html>
