<!DOCTYPE html>
<html>
  <head>
    <title>FreightageApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
  </head>
  <body>
    <header>
      <div class="header-title">
        <h1>Freightage</h1>
      </div>
      <nav>
        <div class="nav-button">
          <%= link_to I18n.t("pages.home.companies"), companies_path %>
        </div>
      </nav>
    </header>
    <div class="content">
      <%= yield %>
    </div>
  </body>
</html>
